.card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 95%;
  border-radius: 0.6rem;
  background-color: var(--primary-dark);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease-in-out;
}

.cardActive {
  background-color: var(--primary-shadow);
}
.card:hover {
  background-color: var(--primary-shadow);
  cursor: pointer;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.cardDate {
  font-size: 0.9rem;
}

.cardButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}
