.containerBacklogScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.containerTitleAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.containerListTareas {
  display: grid;
  grid-template-columns: repeat(3, 480px);
  gap: 20px;
  width: 98%;
  overflow-y: auto;
}

.column {
  background-color: var(--primary-shadow);
  padding: 15px;
  width: 100%;
  border-radius: 8px;
  min-height: 76vh;
  max-height: 76.5vh;
}

.column h3 {
  text-align: center;
  margin-bottom: 10px;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
