.containerSprintsScreen {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.containerTitleAndButton {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.containerSprints {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
